:root {
    font-size: 15px;
}

body {
    font-family: 'League Spartan', sans-serif;
    min-height: calc(100vh - 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

main {
    z-index: 2;
    position: relative;
    max-width: 1110px;
    margin: auto;
    padding: 7.75rem 0;
    gap: 5rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 400px;
    line-height: 3.25rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.rating-row:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-copy-col {
    width: 435px;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

.star-rating-col {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100% - 435px);
    gap: 1.25rem;
}

.star-rating-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    padding: 1rem 2.25rem;
    border-radius: .75rem;
}

.star-rating-row p, h1 {
    color: hsl(300, 43%, 22%);
}

.star-rating-row p {
    font-weight: 700;
    margin-top: .35rem;
}

.star-rating-row:nth-of-type(1) {
    margin-right: 10.25rem;
}

.star-rating-row:nth-of-type(2) {
    margin-right: 4.75rem;
}

.stars {
    display: flex;
    gap: .5rem;
}